__pycache__/

datasets/cross_validation/fold_1/train/samples.tsv
datasets/cross_validation/fold_2/train/samples.tsv
datasets/cross_validation/fold_3/train/samples.tsv
datasets/cross_validation/fold_4/train/samples.tsv
datasets/cross_validation/fold_5/train/samples.tsv

TIS_Predictor/*.sav
